:root{
  --primary: #388e3c;
  --dark-primary: #00600f;
  --light-primary: #6abf69;
  --secondary: #bdbdbd;
  --light-secondary: #efefef;
  --dark-secondary: #8d8d8d;
  --font-colour: #424242;
  --light-font-colour: #cfcfcf;
  --dark-font-colour: #1b1b1b;
}

*{
  color: var(--font-colour);
}
.activenavbar{
  width: calc(100% - 200px) !important;
  position: relative;
  left:200px;
}
.home{
  position: relative;
  top:50px;
  height:100vh;
}

